@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|ZCOOL+QingKe+HuangYou");

/* ==== 변수 설정 ===== */

* {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "ZCOOL QingKe HuangYou", Courier;
  box-sizing: border-box;
  --animationtime: 2s;
}

:root {
  --height: 0%;
}
.fn-font {
  font-family: "Noto Sans KR", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
/* ====== 헤더 ====== */
header {
  width: 100%;
  height: 80px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > h2 {
  margin-left: 10px;
}

header > nav {
  width: 200px;
  height: 100%;
}

header ul {
  width: 100%;
  height: 100%;
  display: flex;
}

header ul > li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 2em;
  background: url("./asset/sea.jpg") no-repeat center bottom / cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header ul > li :hover {
  font-weight: bolder;
}
header li > a > img {
  width: 1.3em;
  opacity: 0.3;
  margin-left: 0.5em;
}
header li > a :hover {
  opacity: 1;
}
.content {
  margin: 5%;
  font-size: 2.5em;
  text-align: center;
}

.blink {
  animation: blink 0.5s infinite;
  font-size: 2.5rem;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}
/* ==== body ===== */
/* 주디 gif */
.judith {
  height: 15em;
  margin: 5%;
  background-image: url("asset/judith.gif");
}
.introduce {
  display: flex;
  margin: 3rem;
}
#i {
  margin-right: 3rem;
}
hr {
  margin: 2%;
}
.graphContainer {
  text-align: center;
}

.graphContainer p {
  margin: 1em 0em;
  color: #959191;
}
/* 애니메이션 그래프 */
.graph {
  background-color: #ccc;
  height: 100vh;
  border-radius: 40px;
  margin: 25px;
  display: block;
}
@keyframes stack {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: var(--height);
    opacity: 1;
  }
}

section {
  display: flex;
  justify-content: center;
  height: 500px;
}
.graph h3 {
  transform: rotate(180deg);
}

.graph {
  height: 400px;
  transform: rotate(180deg);
}

.graph span {
  display: flex;
  height: 40px;
  line-height: 40px;
  text-align: right;
  border-radius: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  color: white;
  transform: rotate(180deg);
}

.graph.stack span {
  height: var(--height);
  animation: stack 2s 1;
  animation-delay: var(--animationtime);
}

.graphEditContainer {
  text-align: center;
  display: block;
}
#addDataSection {
  font-size: medium;
  display: inline-flex;
  width: 200px;
  height: 30px;
  justify-content: space-around;
  margin: 2em;
}
#addDataSection label {
  margin-top: 6px;
}

button {
  width: 60px;
  height: 30px;
  background-color: aquamarine;
  opacity: 60%;
}
button:hover {
  opacity: 100%;
}

textarea {
  padding: 5px;
  margin: 0px 10px;
}
#editDetailDataSection {
  display: inline-flex;
  flex-direction: column;
  width: 580px;
  margin: 2em;
  justify-content: center;
  position: relative;
}
#editDetailDataSection textarea {
  width: 500px;
  height: 500px;
}
#editDetailDataSection button {
  position: absolute;
  bottom: 0;
  right: 0;
}
#description {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 600px;
  padding-left: 100px;
  margin: 30px 0px;
  color: #959191;
}
#editDataSection {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 580px;
  justify-content: center;
}
#editDataSection table button {
  color: red;
  background-color: white;
  border: white;
}
#editDataSection table td:nth-child(2) {
  width: 80%;
}
#applyBtn {
  position: absolute;
  bottom: 0;
  right: 0;
}
#resetBtn {
  position: absolute;
  bottom: 0;
  right: 65px;
  background-color: lightskyblue;
}
@import url(https://fonts.googleapis.com/css?family=Raleway);
#toTop {
  position: fixed;
  bottom: 80px;
  margin-left: 93%;
  display: none;
  z-index: 9999;
}

/* ===== 푸터 ===== */
footer {
  text-align: center;
  opacity: 0.4;
  margin-bottom: 10px;
}
footer hr {
  margin-bottom: 0;
}
